/**
 * Main App Styles
 */

 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Playfair+Display:ital@0;1&display=swap');
 @import "~bootstrap/scss/bootstrap";

 body {
    margin: 0;
    height: auto;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


h1, h2, h3, h4, h5, h6 {
    font-family: 'Amatic SC', cursive;
}

h5 {
    display: inline;
}

 .mt-5, .my-5 {
    margin-top: 10rem !important;
}

.navbar-light .navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    width: 1.1em !important;
    height: 1.1em !important;
}

.log-box {
    
    margin: auto;
    transition: all .3s;

    @media screen and (min-width: 600px) {
        width: 450px;
    }

    
}

.form-control:focus {
    border-color: #167bff;
    box-shadow: none;
}

.log-box h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}

.album-header h3 {
    text-align: center;
}
  
.custom-control-label {
    font-weight: 400;
}
  
.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #080808;
    margin: 0;
}
  
.forgot-password a {
    color: #167bff;
}

.dropdown-item {
    padding: 0.25rem 1rem;
    text-align: right;
}
.nav-link:hover {
    background-color: transparent;
    color: #167bff; 
}

.dropdown-menu {
    border-style: none;
    background-color: transparent;
}

.card {
background-color: rgba(255, 255, 255, 0.5);
}

.card-title {
    text-align: center;
}

.card-title a {
    color:#343a40;
}

.card-title a:hover { 
    color: #080808;
    text-decoration: none;
}

.create-link-btn {
    text-align: center;
}
.client-link {
   
    justify-content: center;
    display: inline-flex; 
    align-items: center;
    float: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
    & p {
        
        margin: 10px;
    }
}

.thumbsup,
.thumbsdown {
    color: #080808;
}
.thumbsdown-active {
    color: rgb(141, 43, 43);
}

.thumbsup-active {
 color: rgb(50, 110, 50);
}